  <script src="bower/angular/angular.js"></script>
  <script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower/angular-animate/angular-animate.min.js"></script>
  <script src="bower/d3/d3.js"></script>
  <script src="bower/nvd3/build/nv.d3.js"></script>
  <script src="bower/angular-nvd3/dist/angular-nvd3.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/views/home/home.js"></script>
  <script src="javascripts/components/version/version.js"></script>
  <script src="javascripts/components/version/version-directive.js"></script>
  <script src="javascripts/components/version/interpolate-filter.js"></script>
  <script src="javascripts/services/trelloApiService.js"></script>
  <script src="javascripts/services/userService.js"></script>
  <script src="javascripts/components/board-list/board-list-directive.js"></script>
  <script src="javascripts/views/board/board.js"></script>
  <script src="javascripts/components/nav/nav-directive.js"></script>