  <script src="bower/angular/angular.js"></script>
  <script src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/views/view1/view1.js"></script>
  <script src="javascripts/views/view2/view2.js"></script>
  <script src="javascripts/views/view-form/view-form.js"></script>
  <script src="javascripts/components/version/version.js"></script>
  <script src="javascripts/components/version/version-directive.js"></script>
  <script src="javascripts/components/version/interpolate-filter.js"></script>