<p>This is the partial for the form view</p>
<form id="register">
<h1>Register</h1>
  <fieldset> 
    <legend>Personal details</legend> 
    <div> 
        <label>First Name</label>
        <input id="given-name" name="given-name" type="text" placeholder="First name only" required autofocus>
    </div>
    <div>
        <label>Last Name</label>
        <input id="family-name" name="family-name" type="text" placeholder="Last name only" required autofocus>
    </div>
    <div>
    	<label>Date of Birth</label>
        <input id="dob" name="dob" type="date" required>
    </div>
    <div>
        <label>Email</label>
        <input id="email" name="email" type="email" placeholder="example@domain.com" required>
    </div>
    <div>
        <label>URL</label>
        <input id="url" name="url" type="url" placeholder="http://mysite.com">
    </div>
    <div>
        <label>Telephone</label>
        <input id="phone" name="phone" type="tel" placeholder="Eg. +447000 000000" required>
    </div>
	<div>
		<label>Shoesize</label>
		<input id="shoes" name="shoes" type="number" min="5" max="18" step="0.5" value="9">
	</div>
	<div>
		<label>Flying Skill level (1 low - 100 high)</label>
		<input id="skill" name="skill" type="range" min="1" max="100" value="0">
		<output name="output" onforminput="value=skill.value"></output>
	</div>
  </fieldset>
  <fieldset> 
    <legend>Billing address</legend> 
    <div> 
        <label>Address</label>
        <textarea id="address" name="address" rows=5 required></textarea>
    </div>
    <div>
        <label>Post code</label>
        <input id="postCode" name="postCode" type="text" required>
    </div>
    <div>
        <label>Country</label>
        <input id="country" name="country" list="country-names" type="text" required> 
        <datalist id="country-names"> 
        	<option label="England" value="England"></option> 
        	<option label="Northern Ireland" value="Northern Ireland"></option> 
        	<option label="Ireland" value="Ireland"></option> 
        	<option label="Scotland" value="Scotland"></option> 
        	<option label="Wales" value="Wales"></option> 
        </datalist>
    </div> 
  </fieldset> 
  <fieldset> 
    <legend>Card details</legend> 
    <fieldset> 
      <legend>Card type</legend> 
      <div class="card-type"> 
          <input id="visa" name="cardtype" type="radio"> 
          <label for="visa">VISA</label> 
          <input id="mastercard" name="cardtype" type="radio">
          <label for="mastercard">Mastercard</label> 
          <input id="amex" name="cardtype" type="radio"> 
          <label for="amex">AMEX</label>
      </div> 
    </fieldset>
    <div> 
        <label>Name</label>
        <input id="cardName" name="cardName" type="text" placeholder="Name as it appears on your card" required>
    </div>
    <div> 
        <label>Card number</label>
        <input id="cardNo" name="cardNo" type="number" required title="The sixteen digit number across the middle of your card.">
    </div>
    <div> 
        <label>Security code</label>
        <input id="security" name="security" type="number" required pattern="[0-9]{3}" title="The last three digits on the back of your card.">
    </div>
    <div> 
        <label>Expiry Date</label>
        <input id="expiry" name="expiry" type="month">
    </div>
  </fieldset>
  <fieldset>
  	<div>
	    <button type=submit>Place Order</button>
    </div>
  </fieldset> 
</form>